body {
    font-family: Arial;
}

.to-do {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;;
}

.input{
    padding: 10px;
    font-size: 15px;
}

.add, .delete {
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px;
}

.delete{
    background-color: darkred;
}

.to-do-list {
    align-items: center;
}